<div class="font-big text-shadow-light">
  <%= link_to oauth_path(:facebook), title: 'Log in with Facebook' do %>
    <!-- <i class="fa fa-facebook"></i> -->
    <i class="fa fa-facebook-square"></i>
  <% end %>
  <%= link_to oauth_path(:twitter), title: 'Log in with Twitter' do %>
    <i class="fa fa-twitter"></i>
    <!-- <i class="fa fa-twitter-square"></i> -->
  <% end %>
</div>
