<h1>Comments</h1>
<div id="comments">
  <% @comments.each do |comment| %>
    <div class="comment">
      <strong><%= comment.user.first_name %>:</strong> <%= comment.content %>
    </div>
  <% end %>
</div>
