<% title 'All comments on ' + @commentable.name %>
<h2><%= link_to @commentable.name, @commentable %></h2>
<h3>Comments · <%= @commentable.comments.count %></h3>
<%= render 'comments/form' if logged_in? %>
<%= render 'comments/index' %>
