<h2 class="thin-font">About</h2>
<p>
  As America changes, the educational system has been slow to keep up. Over half our children born today are minorities, and 1 in 4 have an immigrant parent. Yet financial help opportunities for immigrant youth remain remarkably scarce. And that amounts to a lot of missed talent in universities for all of us.
</p>
<p>
  We live in <%= Date.today.year %>, a time where things like
  <a href="https://fiber.google.com/about/" class="blue-link">google fiber</a>
  and
  <a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=electric%20supercars" class="blue-link">electric supercars</a>
  exist, and yet the "United" States of America still struggles to provide their inhabitants equal rights. In a time where America needs the most educated workers it can get, it would make sense to expect higher education out of the population.
</p>
<p>
  <a href="http://www.codethedream.org/" class="blue-link thick-font">Code the Dream</a> states that:
</p>
<p class="quotes">
  "young people from minority and immigrant backgrounds have great ideas and will play a huge part in our 21st century economy. Already immigrants are more than twice as likely to start their own business, and those businesses create over 25% of new jobs."
</p>
<p>
  What if more people with that drive could afford college? Can you image how their lives could change? Together we can make it happen.
</p>
<td>
  TALK ABOUT THE VISION, QUORA DIGEST
</td>
<h2 class="thin-font">Our Team</h2>
<div class="team-member-container">
  <%= image_tag @cruz.image.url(:medium), class: "left image-padding" %>
  <p>
    <strong>Cruz Nunez</strong> literally built this whole thing. You're welcome motherfuckers
  </p>
</div>
