<div class="table">
  <div class="twin">
    <h2 class="thin-font">Are you...</h2>
    <p class="indent">... a student looking for an education?</p>
    <p class="indent">... interested in learning to code?</p>
    <p class="indent">... a developer interested in improving this site?</p>
    <p class="indent">... able to support our work?</p>
    <p>We'd love to hear from you!</p>
  </div>
  <div class="twin">
    <p>SITE IDEAS<br><%= mail_to "cruz@wherwedream.org", nil, class: "blue-link indent" %></p>
    <p>LEARN CODE<br><%= mail_to "dan@unitingnc.org", nil, class: "blue-link indent" %></p>
    <p>OTHER<br><%= mail_to "cruz@wherwedream.org", nil, class: "blue-link indent" %></p>
  </div>
</div>
