
<h2>Activation</h2>
<p>
  Congrats. This is the first step to signing up with us. Benefits include your own profile on this site. There you can add your Facebook, Twitter, LinkedIn information. You can upload your own profile picture. You can set your location for others to see. You can even write your own little bio here. That's not all. An active account gives you the ability to comment on Schools too. All this and more is offered to you once you active your account.
</p>
<p>Please check your email to activate your account. It may take a few minutes.</p>
