/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require font-awesome
 */

@import 'bourbon';
@import 'neat';
@import 'sass';
@import 'parsley';
@import 'layout';
@import 'home';
@import 'buttons';
@import 'header';
@import 'footer';
@import 'questions';
@import 'schools';
@import 'stories';
@import 'sessions';
@import 'features';
@import 'comments';
@import 'users';
@import 'opinions';
@import 'scholarships';
@import 'pagination';
@import 'map';
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Exo:200italic,200');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
// @import url(http://fonts.googleapis.com/css?family=Monda:400,700);

body {
  margin: 0px;
}
p {
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  transition: background 1s;
}
h1 {
  font-size: 2em;
  @include mobile {
    font-size: 1.75em;
  }
}
h2 {
  font-size: 1.75em;
  margin: .8em 0 .3em;
  @include mobile {
    font-size: 1.5em;
  }
}
h3 {
  font-size: 1.5em;
  margin: .25em 0;
  @include mobile {
    font-size: 1.4em;
  }
}
h4 {
  font-size: 1.4em;
  margin: .2em 0;
  @include mobile {
    font-size: 1.3em;
  }
}
h5 {
  font-size: 1.3em;
  margin: .15em 0;
  @include mobile {
    font-size: 1.2em;
  }
}
h6 {
  font-size: 1.2em;
  margin: .1em 0;
  @include mobile {
    font-size: 1.1em;
  }
}

// a, h1, h2, h3, h4, h5, h6, p, ul, li, header, footer, img, div, i, table, th,
// td, br, input, strong, form, textarea, label, select, span {
//   &::selection {
//     background: transparentize(yellow, .6);
//   }
// }
