.blue-button,
.dark-blue-button,
.green-button,
.red-button {
  @include appearance(none);
  border-style: solid;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin-bottom: .5em;
  outline: none;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  transition: all .2s;
  width: 100%;
}
.blue-button {
  $blue: #167AC6;
  background-color: $blue;
  border-color: $blue;
  &:hover {
    background-color: darken($blue, 5%);
    border-color: darken($blue, 5%);
  }
}
.green-button {
  // 34A853 27AE60 39D179
  $green: #27AE60;
  background-color: $green;
  border-color: $green;
  &:hover {
    background-color: darken($green, 5%);
    border-color: darken($green, 5%);
  }
}
.red-button {
  $red: #EA4335;
  background-color: $red;
  border-color: $red;
  &:hover {
    background-color: darken($red, 5%);
    border-color: darken($red, 5%);
  }
}
.dark-blue-button {
  $dark-blue: #36465D;
  background-color: $dark-blue;
  border-color: $dark-blue;
  &:hover {
    background-color: darken($dark-blue, 5%);
    border-color: darken($dark-blue, 5%);
  }
}
.width-reset {
  width: initial;
}
.fa-facebook,
.fa-facebook-square,
.fa-facebook-official {
  $facebook-color: #4862A3;
  color: $facebook-color;
  &:hover {
    color: lighten($facebook-color, 5%);
  }

}
.fa-twitter,
.fa-twitter-square {
  $twitter-color: #55ACEE;
  color: $twitter-color;
  margin-left: .2em;
  &:hover {
    color: lighten($twitter-color, 4%);
  }
}
.text-shadow-light {
  text-shadow: 1px 1px 2px black;
}
