.comment {
  margin-top: 1em;
  line-height: 1.3em;
  position: relative;
  height: auto;
  // clear: both;
}
.user-image {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  img {
    width: 100%;
  }
}
.time {
  color: gray;
  font-size: .85em;
}
.comment-name {
  color: #167AC6;
  text-decoration: none;
  margin-right: .5em;
}
.comment-content {
  display: inline-block;
  position: absolute;
  top: 0;
  padding-left: 10px;
}
.new-comment {
  padding: 5px 10px;
  width: 100%
}
.new-comment-container {
  display: block;
  margin-left: 60px;
}
.post {
  float: right;
  padding: 7px 10px;
  display: inline-block;
}
.comment-dropdown {
  font-size: .5em;
  position: absolute;
  right: 0;
}
.comment-click {
  display: none;
}
