$background: white;
$height: 80px;
$height-mobile: 55px;

#logo {
  @include mobile {
    font-size: 2em;
  }
}
#home {
  position: absolute;
  @include mobile {
    display: inline-block;
    left: 0;
    margin: auto;
    right: 0;
    text-align: left;
    // Width required for icon to be centered correctly in IE.
    width: 20%;
  }
}
#login,
#admin {
  float: right;
  @include mobile {
    float: left;
  }
}
#features {
  float: right;
}
.fa-expeditedssl.fa-stack-2x {
  font-size: 1.9em;
  padding-top: .02em;
}
header {
  background-image: asset_url('scenery_5_header.jpg');
  background-position: center;
  background-size: cover;
}
#nav-features,
#nav-admin {
  background: $background;
  color: $color;
  display: none;
  height: calc(100vh - 80px);
  flex-direction: column;
  a {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    transition: background 0.5s;
    color: inherit;
    &:hover {
      background: darken(white, 5%);
    }
  }
  h3 {
    @include immobile {
      margin: 0 0 .5em;
    }
    @include mobile {
      margin: 0;
    }
  }
  p {
    font-family: 'Exo', sans-serif;
    margin: 0;
  }
  @include mobile {
    height: calc(100vh - 55px);
  }
}
.header--hidden {
  transform: translateY(-100%);
}
header.navigation {
  background-color: $background;
  height: $height;
  width: 100%;
  z-index: 999;
  position: fixed;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.3em;
  border-bottom: 1px solid #efefef;
  color: white;
  transition: transform 0.5s;
  @include mobile {
    height: $height-mobile;
  }
  .navigation-wrapper {
    @include clearfix; // Needed for notification positioning
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9999;
    width: 1170px;

    @include laptop {
      width: 970px;
    }
    @include tablet {
      width: 750px;
    }
    @include mobile {
      width: 100%;
      padding: 0 2%;
    }
  }
  // Nav menu
  nav {
    width: 100%;
    z-index: 9999999;
  }
  ul.navigation-menu {
    display: inline;
    margin: 0;
    padding: 0;
    z-index: 9999;
    -webkit-transform-style: preserve-3d; // stop webkit flicker
  }
  // The nav items
  ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: $height;
    z-index: 9999;
    transition: all 0.2s;
    &:hover {
      cursor: pointer;
      .desktop-only {
        border-bottom: 2px solid currentColor;
        border-radius: 9%;
      }
      // @include immobile {
      //   color: $color-hover;
      // }
    }
    a {
      color: inherit;
    }
    &:first-child {
      padding: 0;
      margin: 0;
    }
    &:nth-child(2) {
      @include immobile {
        padding-left: 1em;
      }
    }
    &:nth-child(3) {
      @include immobile {
        padding: 0 1em;
      }
    }
    @include mobile {
      line-height: $height-mobile;
      max-width: 2.5em;
      text-decoration: none;
    }
  }
}
