.double-spaced {
  // line-height: 2em;
  line-height: 28px;
}
.fa-chevron-down {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em;
  @include mobile {
    padding: .8em;
  }
}

.flex-boxes {
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;
  $flex-box-border-color: $light-gray;
  $flex-box-border: 1px solid $flex-box-border-color;
  $flex-box-background: lighten($light-gray, 10%);
  $flex-box-gutter: 0.4em;
  $flex-box-width: 18em;
  $flex-box-color: transparentize($base-font-color, 0.3);
  $flex-box-top-colors:
    tomato,
    #72BFBF,
    #92B1E3,
    #E3D743,
    #CCC,
    #F6C05C;

    // @include clearfix;
    @include display(flex);
    @include justify-content(center);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    font-family: 'Raleway', sans-serif;
    clear: both;
    z-index: 1;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto 80px;

    @include tablet {
      width: 90%
    }

    @include mobile {
      width: 100%
    }

  .flex-box {
    @include transition (all 0.2s ease-in-out);
    @include flex(2 2 15em);
    @include align-self(stretch);
    background: $flex-box-background;
    border-radius: $base-border-radius;
    box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken($base-background-color, 10%);
    display: block;
    margin: $flex-box-gutter;
    padding: 2em 2em 3em 2em;
    text-decoration: none;

    @for $i from 1 to 7 { // assign colors from $flex-box-top-colors list
      &:nth-child(#{$i}) {
        $color-from-list: nth($flex-box-top-colors, $i);
        border-top: 6px solid $color-from-list;

        &:focus,
        &:hover {
          background-color: transparentize($color-from-list, 0.9);
        }
      }
    }

    i {
      font-size: 48px;
      color: #9E9E9E;
    }
    img {
      display: block;
      height: 3em;
      margin: 0 auto 1em;
      opacity: 0.4;
    }

    .flex-title {
      color: $flex-box-color;
      font-size: 1.2em;
      margin-bottom: 0.5em;
    }

    p {
      color: transparentize($flex-box-color, 0.1);
      line-height: 1.5em;
      margin: auto;
    }
  }

  .flex-box-big {
    @include flex(1 1 40em);
  }
}
.cover {
  position: relative;
  background-color: #F8FE00;
  min-height: 300px;
  width: 100%;
  color: white;
}
.cover-img,
.cover-img-2,
.cover-img-3 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  // background-attachment: fixed;
  // this css property makes the image sticky. It doesn't pay attention to scrolling
}
.cover-img {
  background-image: asset_url('scenery_5.jpg');
}
.cover-img-2 {
  background-image: asset_url('scenery_5_blur.jpg');
}
.cover-img-3 {
  background-image: asset_url('scenery_5_blur_2.png');
}
.cover-content, .cover-content-2 {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  @include transform( translateY(-50%) );
}
.cover-content-2 {
  font-family: 'Raleway', sans-serif;
  h1 {
    font-family: 'Exo', sans-serif;
  }
  @include mobile {
    width: 87.5%;
  }
  @include immobile {
    width: 50%;
  }
}
.cover-content {
  width: 90%;
  text-align: center;
  font-family: 'Exo', sans-serif;

  h1 {
    font-size: 8vw;
    font-size: 8vmax;
    margin: 0 0 .68em 0;
  }

  footer {
    text-shadow: 1px 1px black;
    font-size: 3vw;
    font-size: 3vmax;
  }
}
.italics {
  font-style: italic;
}
