.double-spaced {
  // line-height: 2em;
  line-height: 28px;
}
.fa-chevron-down {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  @include mobile {
    margin: .8em;
  }
}

.cover {
  position: relative;
  min-height: 300px;
  width: 100%;
  color: white;
}
.cover-img {
  height: 100%;
  width: 100%;
  position: fixed;
  // position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  @include background-size( cover );
  z-index: -1;
}
.img-1 {
  background-image: asset_url('scenery_4.jpg');
}
.img-2 {
  background-image: asset_url('cover/final/scenery_5.jpg');
}
.img-3 {
  background-image: asset_url('scenery_6.jpg');
}
.img-4 {
  // background-image: asset_url('scenery_5_blur.jpg');
  background-image: asset_url('book.jpg');
}
.cover-content, .cover-content-2 {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-50%);
}
.cover-content {
  top: 50%;
  width: 95%;
  text-align: center;
  font-family: 'Exo', sans-serif;
  h1 {
    font-size: 8vmax;
    margin: 0 0 .68em 0;
    text-shadow: 0 0 0.3em rgba(0,0,0,1);
  }
  footer {
    text-shadow: 0 0 0.4em rgba(0,0,0,1);
    font-size: 3vw;
    font-size: 3vmax;
  }
}
.cover-content-2 {
  top: 45%;
  font-family: 'Raleway', sans-serif;
  h1 {
    font-family: 'Exo', sans-serif;
  }
  @include mobile {
    width: 87.5%;
  }
  @include immobile {
    width: 50%;
  }
}
.italics {
  font-style: italic;
}
