#body {
  padding: 80px 10% 30px;
  font-family: 'Raleway', sans-serif;

  @include mobile {
    padding: 55px 15px 30px;
  }
}
textarea {
  font: inherit;
  // margin-bottom: 1px;
  width: 98%;
  height: 1em;
  resize: none;
}
input[type="text"] {
  font: inherit;
  width: 98%;
}
#questions span {
  position: relative;
}
.fa-trash-o {
  color: crimson;
  position: absolute;
  right: 0;
  margin: .3em;
}
