#body {
  padding: 80px 10% 30px;
  font-family: 'Raleway', sans-serif;

  @include mobile {
    padding: 55px 15px 30px;
  }
}
.edit-question {
  font: inherit;
  // margin-bottom: 1px;
  border: 1px solid transparent;
  width: 98%;
  height: 1em;
  resize: none;
  padding-right: 1em;
  &:hover {
    border: 1px solid lightgray;
  }
  &:focus {
    outline: none;
    border: 1px solid black;
  }
}
input[type="text"] {
  width: 98%;
}
#questions span {
  position: relative;
}
.fa-trash-o {
  color: crimson;
  position: absolute;
  right: 0;
  margin: .3em;
}
