// Place all the styles related to the questions here.
.edit-question {
  border: 1px solid transparent;
  padding-right: 1em;
  height: 1em;
  resize: none;
  &:hover {
    border: 1px solid lightgray;
  }
  &:focus {
    outline: none;
    border: 1px solid black;
  }
}
#questions span {
  position: relative;
}
.fa-trash-o {
  color: crimson;
  position: absolute;
  right: 0;
  margin: .25em;
  font-size: 1.1em !important;
}
