.no-opinions-bar, .likes-bar, .dislikes-bar {
  height: 2px;
  transition: all 2s;
  max-width: 160px;
}
.no-opinions-bar, .dislikes-bar {
  // background-color: crimson;
  background-color: #EA4335;
}
.short-bar {
  margin-left: 2px;
  margin-right: 2px;
}
.likes-bar {
  // background-color: green;
  background-color: #35AB54;
  width: 0;
}
.no-opinions-bar {
  // background-color: lightgray;
}
.details-container {
  display: none;
}
.details {
  border: 1px solid lightgray;
  // height: 1.55em;
  height: 1.5em;
  &:hover {
    border: 1px solid gray;
  }
  &:focus {
    outline: none;
    border: 1px solid black;
  }
}
.rule {
  margin: .5em 0;
  padding: .25em .35em;
  border-radius: 5px;
}
.bg-bad {
  background-color: #FFCFCF;
}
.bg-good {
  background-color: #C4E1FF;
}
.bg-neutral {
  // background-color: #DCDCDC;
  background-color: #ECF0F1;
  // background-color: #F0F0F0;
  // background-color: #F5F5F5;
}
// .rule {
//   margin: 1em 0;
//   padding-left: .35em ;
// }
// .bg-bad {
//   border-left: 1px solid red;
// }
// .bg-good {
//   border-left: 1px solid blue;
// }
// .bg-neutral {
//   border-left: 1px solid gray;
// }
.public {
  // color: #068FC6;
  color: #91C8FF;
}
.private {
  color: #C145FF;
}
