.tumblr-input {
  background: transparent;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  margin-bottom: 8px;
  transition: all .25s;
  -webkit-text-fill-color: white;

  border-bottom: 3px solid white;
  border-bottom: 3px solid transparentize(white, .5);
  // -webkit-background-clip: padding-box; /* for Safari */
  // background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

  // This allows input field to be transparent
  // Google chrome has a yellow background that is hard to get rid of.
  // Just delay the yellow background from appearing.
  &:-webkit-autofill {
    @include transition(background 9999s ease-in-out 9999s);
  }

  &:hover {
    border-bottom: 3px solid white;
    border-bottom: 3px solid transparentize(white, .25);
  }
  &:focus {
    border-color: white;
    outline: 0;
  }
}
