#profilePicFileField {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
  cursor: pointer !important;
  font-size: 0;
}
.profile-pic-account {
  cursor: pointer;
}
.profile-user-image {
  position: relative;
  display: inline-block;
  height: 70px;
  width: 70px;
  img {
    width: 100%;
  }
}
.update {
  padding: 12px;
  font-size: 1.1em;
  transition: all .15s;
  @include mobile {
    width: 100%;
  }
}
.edit-name {
  @include immobile {
    width: 49%;
  }
  @include mobile {
    width: 100%
  }
  box-sizing: border-box;
}
.profile-name-container {
  display: block;
  margin-left: 80px;
}
