#profilePicFileField {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
  cursor: pointer !important;
  font-size: 0;
}
.profile-pic-account {
  cursor: pointer;
}
.profile-user-image,
.small-image,
.student-image {
  display: inline-block;
  img {
    width: 100%
  }
}
.profile-user-image {
  position: relative;
  height: 70px;
  width: 70px;
  img {
    width: 100%;
  }
}
.medium-image {
  width: $m-img-size;
}
.small-image {
  width: $s-img-size;
  height: $s-img-size;
}
.student-image {
  vertical-align: middle;
  height: $xs-img-size;
  width: $xs-img-size;
}
.fa-map-marker.fa-stack-1x {
  color: #DB493C;
  font-size: 1.5em;
}
.fa-circle.fa-stack-1x {
  color: #842D28;
  font-size: .7em;
  line-height: 1.4em;
}
.fa-stack.thin {
  width: 1em;
  line-height: 1.3em;
  height: 1.3em;
  top: -.3em;
}
.fa-envelope {
  color: gray;
}
.fa-facebook-official {
  color: #4862A3;
}
.fa-twitter-square {
  color: #55ACEE;
}
.fa-linkedin-square {
  color: #0077B5;
}
.update {
  padding: 12px;
  font-size: 1.1em;
  transition: all .15s;
  @include mobile {
    width: 100%;
  }
}
.edit-name {
  @include immobile {
    width: 49%;
  }
  @include mobile {
    width: 100%
  }
  // border-collapse:collapse
}
.profile-name-container {
  display: inline-block;
  margin-left: 10px;
}
.gray {
  color: gray;
}
.thin-margin {
  margin-top: .5em;
}
