<h1>Editing User</h1>

<%= render 'long_form' %>

<%= link_to 'Profile', admin_user_path(@user), class: "blue-link" %> |
<%= link_to :back, class: "blue-link" do %>
  <i class="fa fa-arrow-left"></i> Back
<% end %>
