<div class="flex-container">
  <h1><%= title "States" %></h1>
  <% if (admin_or_above? && request.path.include?("admin")) && State.names_left.any? %>
    <%= link_to new_admin_state_path, class: 'flex-right' do %>
      <i class="fa fa-plus"></i> Add State
    <% end %>
  <% end %>
</div>

<div id="tooltip-container"></div>

<div id="canvas-svg"></div>

<script>
  mapBuilder();
</script>

<p>
  <% @states.each do |state| %>
    <%= link_to state.abbreviation, admin_state_path(state), class: "#{!state.in_state ? state.in_state == nil ? 'no-state' : 'out-of-state' : 'in-state' }" %>
  <% end %>
</p>

<h3>Overwiew</h3>

<p>
  In general, there are 50 states. Some grant undocumented students in-state tuition status, others don't. Soon you will be able to click a state and go to that state's page.
</p>
