<div class="cover">
  <div class="cover-img"></div>
  <div class="cover-content">
    <h1>
      You can do it
    </h1>
    <footer class="italics">
      Yes you can
    </footer>
  </div>
  <i class="fa fa-chevron-down fa-2x"></i>
</div>
