<footer class="footer" role="contentinfo">
  <div class="footer-container">
    <div class="footer-logo">
      <%= link_to root_path do %>
        <i class="logo fa fa-comment-o"></i>
        Where We DREAM
      <% end %>
    </div>
    <div class="footer-links">
      <ul class="left">
        <li><h3>Content</h3></li>
        <li><a href="http://www.codethedream.org/about/">About</a></li>
        <li><a href="http://www.codethedream.org/contact/">Contact</a></li>
      </ul>
      <ul class="left">
        <li><h3>Legal</h3></li>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>
      <ul class="footer-social right">
        <li><h3>Follow Us</h3></li><br>
        <li>
          <a href="javascript:void(0)">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x external "></i>
              <i class="fa fa-facebook fa-stack-1x internal"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x external "></i>
              <i class="fa fa-twitter fa-stack-1x internal"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x external "></i>
              <i class="fa fa-youtube-play fa-stack-1x internal"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div>
      <p class="copywrite">© 2015 Where We Dream | Code The Dream</p>
    <div>
  </div>
</footer>
