<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <ul class="navigation-menu">
      <li class="nav-link">
        <%= link_to root_path do %>
          <i class="fa fa-comment-o logo"></i>
          Where We DREAM
        <% end %>
        </a>
      </li>
    </ul>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <div id="desktop">
          <li class="nav-link"><a href="http://www.codethedream.org/contact/">Contact</a></li>
          <li class="nav-link">
            <a href="javascript:void(0)" class="login">
              <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-user fa-stack-1x"></i>
              </span>
              Login
            </a>
          </li>
        </div>
        <li id="mobile" class="nav-link">
          <a href="javascript:void(0)" class="login">
            <span class="fa-stack">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-bars fa-stack-1x"></i>
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
