<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <ul class="navigation-menu">
      <li class="nav-link">
        <%= link_to root_path do %>
          <i id="logo" class="fa fa-comment-o"></i>Where We DREAM
        <% end %>
        </a>
      </li>
    </ul>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="http://www.codethedream.org/about/">About Us</a></li>
        <li class="nav-link"><a href="http://www.codethedream.org/contact/">Contact</a></li>
        <li class="nav-link">
          <a href="javascript:void(0)" class="login">
            <span class="fa-stack">
              <i class="fa fa-user"></i>
              <i class="fa fa-circle-thin"></i>
            </span>
            Login
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
